In [39]:
import pandas as pd
import numpy as np
import hvplot.pandas
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.neighbors import KNeighborsClassifier

In [2]:
heart = pd.read_csv(r'C:\Users\Sujay Shandilaya\Downloads\heart.csv')
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [5]:
heart.shape

(303, 14)

In [6]:
heart.target.value_counts()

1    165
0    138
Name: target, dtype: int64

In [10]:
heart.target.value_counts().hvplot.bar()

:Bars   [index]   (target)

In [12]:
categorical_val=[]
continuous_val=[]

for column in heart.columns:
    if len(heart[column].unique())<=10:
        categorical_val.append(column)
    else:
        continuous_val.append(column)

In [13]:
continuous_val

['age', 'trestbps', 'chol', 'thalach', 'oldpeak']

In [14]:
categorical_val

['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal', 'target']

In [15]:
categorical_val.remove('target')
dataset = pd.get_dummies(heart, columns = categorical_val)

In [16]:
dataset.head()

,age,trestbps,chol,thalach,oldpeak,target,sex_0,sex_1,cp_0,cp_1,...,slope_2,ca_0,ca_1,ca_2,ca_3,ca_4,thal_0,thal_1,thal_2,thal_3
0,63,145,233,150,2.3,1,0,1,0,0,...,0,1,0,0,0,0,0,1,0,0
1,37,130,250,187,3.5,1,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
2,41,130,204,172,1.4,1,1,0,0,1,...,1,1,0,0,0,0,0,0,1,0
3,56,120,236,178,0.8,1,0,1,0,1,...,1,1,0,0,0,0,0,0,1,0
4,57,120,354,163,0.6,1,1,0,1,0,...,1,1,0,0,0,0,0,0,1,0

In [18]:
scaler=StandardScaler()

In [19]:
cols=['age', 'trestbps', 'chol', 'thalach', 'oldpeak']

In [21]:
dataset[cols]=scaler.fit_transform(dataset[cols])

In [22]:
dataset.head()

,age,trestbps,chol,thalach,oldpeak,target,sex_0,sex_1,cp_0,cp_1,...,slope_2,ca_0,ca_1,ca_2,ca_3,ca_4,thal_0,thal_1,thal_2,thal_3
0,0.952197,0.763956,-0.256334,0.015443,1.087338,1,0,1,0,0,...,0,1,0,0,0,0,0,1,0,0
1,-1.915313,-0.092738,0.072199,1.633471,2.122573,1,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
2,-1.474158,-0.092738,-0.816773,0.977514,0.310912,1,1,0,0,1,...,1,1,0,0,0,0,0,0,1,0
3,0.180175,-0.663867,-0.198357,1.239897,-0.206705,1,0,1,0,1,...,1,1,0,0,0,0,0,0,1,0
4,0.290464,-0.663867,2.082050,0.583939,-0.379244,1,1,0,1,0,...,1,1,0,0,0,0,0,0,1,0

In [24]:
X = dataset.drop('target', axis=1)
y = dataset.target

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [37]:
#Logistic Regression

In [28]:
Model=LogisticRegression()

In [29]:
Model.fit(X_train,y_train)

LogisticRegression()

In [30]:
Model.score(X_test,y_test)

0.8571428571428571

In [33]:
cm = confusion_matrix(y_test,Model.predict(X_test))

In [34]:
cm

array([[33,  8],
       [ 5, 45]], dtype=int64)

In [40]:
test_score = accuracy_score(y_test, Model.predict(X_test)) * 100
train_score = accuracy_score(y_train, Model.predict(X_train)) * 100

In [41]:
results_df = pd.DataFrame(data=[["Logistic Regression", train_score, test_score]], 
                          columns=['Model', 'Training Accuracy %', 'Testing Accuracy %'])
results_df

                 Model  Training Accuracy %  Testing Accuracy %
0  Logistic Regression            86.792453           85.714286

In [35]:
#K Nearest Neighbour

In [42]:
Model_KNN = KNeighborsClassifier()

In [43]:
Model_KNN.fit(X_train, y_train)

KNeighborsClassifier()

In [44]:
confusion_matrix(y_test,Model_KNN.predict(X_test))

array([[35,  6],
       [ 6, 44]], dtype=int64)

In [45]:
test_score = accuracy_score(y_test, Model_KNN.predict(X_test)) * 100
train_score = accuracy_score(y_train, Model_KNN.predict(X_train)) * 100

In [46]:
results_df_2 = pd.DataFrame(data=[["K-nearest neighbors", train_score, test_score]], 
                          columns=['Model', 'Training Accuracy %', 'Testing Accuracy %'])

In [47]:
results_df = results_df.append(results_df_2, ignore_index=True)

In [48]:
results_df

                 Model  Training Accuracy %  Testing Accuracy %
0  Logistic Regression            86.792453           85.714286
1  K-nearest neighbors            86.792453           86.813187

#